---
import Breadcrumb from "../plus-ui/breadcrumb/Breadcrumb.astro";
import ComponentHeader from "../plus-ui/component-header/ComponentHeader.astro";
const { data } = Astro.locals.starlightRoute.entry;
const { isComponent = false } = data;
---

<Breadcrumb />

{
  isComponent ? (
    <ComponentHeader data={data} />
  ) : (
    <h1 id="_top" class="text-2xl font-semibold text-color-default mt-4">
      {data.title}
    </h1>
    <p class="text-sm text-color-caption font-normal m-0">
      {data.description}
    </p>
  )
}
