import { html } from 'lit';
import { property } from 'lit/decorators.js';
import Tailwind from '../base/tailwind-base';
import style from './avatar.styles';

/**
 * Add a description here
 *
 * @tag {{kebabCase tagName}}
 * @since 0.0.0
 * @status experimental
 *
 **/
export default class {{pascalCase tagName}} extends Tailwind {
  static override styles = [
    ...Tailwind.styles,
    style,
  ];

  constructor() {
    super();
  }
  
  @property() 
  heading = 'Hello, word!';

  override render() {
    return html`
      <h1>${this.heading}</h1>
    `;
  }
}

export { {{pascalCase tagName}} };
