---
import "@astrojs/starlight/style/markdown.css";
import ContributingLinks from "../plus-ui/contributing-links/ContributingLinks.astro";
---

<div class="sl-markdown-content">
  <slot />
  <ContributingLinks />
</div>
