@layer theme, base, components, utilities;
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);
@config '../../tailwind.config.js';

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap");

@import './theme/brand.css';
@import './theme/light.css';
@import './theme/dark.css';

@theme {
  --font-sans: 'Inter', sans-serif;
}
@theme {
  --plus-border-radius-none: 0;
  --plus-border-radius-default: var(--radius-sm);
  --plus-border-radius-modal: var(--radius-lg);
  --plus-border-radius-full: 9999px;
  
  --radius-default: var(--plus-border-radius-default);
  --radius-modal: var(--plus-border-radius-modal);
}
