@layer base, starlight, starlight-overrides, theme, components, utilities;

/* @import "@astrojs/starlight-tailwind"; */
@import "./starlight-overrides/tailwind.css";
@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

@import "./theme/brand.css";
@import "./theme/light.css";
@import "./theme/dark.css";

@import "./starlight-overrides/theme.css";
/* 
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/inter-tight"; */

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-sans-tight: "Inter Tight Variable", sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

:root {
  --sl-text-2xs: 0.75rem; /* 12px */
  --sl-text-xs: 0.8125rem; /* 13px */
  --sl-text-sm: 0.875rem; /* 14px */
  --sl-text-base: 1rem; /* 16px */
  --sl-text-lg: 1.125rem; /* 18px */
  --sl-text-xl: 1.25rem; /* 20px */
  --sl-text-2xl: 1.5rem; /* 24px */
  --sl-text-3xl: 1.8125rem; /* 29px */
  --sl-text-4xl: 2.1875rem; /* 35px */
  --sl-text-5xl: 2.625rem; /* 42px */
  --sl-text-6xl: 4rem; /* 64px */

  --sl-text-body: var(--sl-text-base);
  --sl-text-body-sm: var(--sl-text-xs);
  --sl-text-code: var(--sl-text-sm);
  --sl-text-code-sm: var(--sl-text-xs);
  --sl-text-h1: var(--sl-text-4xl);
  --sl-text-h2: var(--sl-text-3xl);
  --sl-text-h3: var(--sl-text-2xl);
  --sl-text-h4: var(--sl-text-xl);
  --sl-text-h5: var(--sl-text-lg);

  --sl-line-height: 1.75;
  --sl-line-height-headings: 1.2;
}
