@layer theme {
  starlight-tabs [role="tablist"] {
    border-bottom: 2px solid var(--background-color-color-disabled-default);
  }
  starlight-tabs .tab > [role="tab"] {
    border-bottom: 2px solid var(--background-color-color-disabled-default);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 0.5rem;
  }
  starlight-tabs .tab [role="tab"][aria-selected="true"] {
    color: var(--text-color-color-default);
    border-color: var(--border-color-color-default);
  }

  .content-panel {
    padding: 1.5rem var(--sl-content-pad-x) 0;
  }
  .content-panel + .content-panel {
    border-top: none;
    padding-top: 2rem;
  }

  .component-header-block .expressive-code .frame {
    --code-background: transparent !important;
  }
  .main-pane {
    isolation: auto !important;
  }
  :root {
    --sl-color-bg-nav: var(--background-color-color-surface);
    --sl-color-hairline-shade: var(--border-color-color-disabled);
  }

  body {
    background-color: var(--background-color-color-surface);
  }
  /* 1400px üzerindeki ekranlarda özel layout */
  @media (min-width: 1400px) {
    /* Ana sayfa container'ını ortala */
    .page {
      max-width: 1400px;
      margin: 0 auto;
    }

    /* Sol sidebar'ı logoyla hizala */
    .sidebar-pane {
      width: 16rem;
      left: calc((100vw - 1400px) / 2);
    }

    /* Main content alanını tam genişlikte yap */
    .main-frame {
      margin-left: 16rem;
      max-width: calc(1400px - 16rem); /* Sadece sol sidebar düşülsün */
      padding-left: 1rem;
      padding-right: 2rem;
    }

    .main-pane {
      width: calc(
        53.5rem + (100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 2
      );
    }

    .sl-container {
      margin-inline: 0;
      max-width: 100%;
    }

    /* TOC'u sayfanın sağ tarafına fixed pozisyonda yerleştir */
    .right-sidebar-container {
      position: fixed;
      right: calc((100vw - 1400px) / 2); /* Sağ kenardan container hizası */
      top: var(--sl-nav-height);
      width: 14rem;
      height: calc(100vh - var(--sl-nav-height));
      z-index: 1;
    }

    .right-sidebar {
      position: static;
      width: 100%;
      height: 100%;
      /* border: none; */
      overflow-y: auto;
      padding-top: 0;
    }

    .sidebar-pane {
      /* border: none; */
      background-color: transparent;
    }

    .sidebar-content ul ul li {
      /* margin: 0;
    padding: 0; */
      /* border: none; */
    }
    .sidebar-content ul ul li a {
      color: var(--text-color-color-default);
    }
    .sidebar-content ul ul li a[aria-current="page"] {
      background-color: var(--background-color-color-default-default);
      color: var(--text-color-color-primary);
      border-radius: 0.25rem;
      font-weight: 400;
      /* padding: 0.25rem 0.5rem; */
    }
    .sidebar-content ul.top-level > li:not(:first-child) {
      /* margin-top: 2.25rem; */
    }
  }
}
