@layer base, plus-ui-core, theme, components, utilities;
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);
@config '../../tailwind.config.js';

@import '@fontsource-variable/inter/index.css';

@import './theme/brand.css';
@import './theme/light.css';
@import './theme/dark.css';

@theme {
  --font-sans:
    'Inter Variable', 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --animate-spin: spin 2s linear infinite;
  --animate-shake: shake 0.3s ease-in-out;

  --text-xxxs: 0.5rem;
  --text-xxxs--line-height: calc(1 / 0.5);
  --text-xxs: 0.625rem;
  --text-xxs--line-height: calc(1 / 0.625);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }
}

@theme {
  --plus-border-radius-none: 0;
  --plus-border-radius-default: var(--radius-sm);
  --plus-border-radius-modal: var(--radius-lg);
  --plus-border-radius-full: 9999px;

  --radius-default: var(--plus-border-radius-default);
  --radius-modal: var(--plus-border-radius-modal);
}

@utility ring-default {
  @apply ring-2 ring-[var(--plus-color-border-ring)] outline-0 ring-offset-2;
}

@utility plus-ui-element {
  @apply antialiased font-sans;
}
