[theme-dark] {
  --plus-color-background-surface: var(--plus-color-base-black);
  --plus-color-background-disabled-default: var(--plus-color-neutral-800);
  --plus-color-background-transparent: var(--plus-color-base-transparent);
  --plus-color-background-divider: var(--plus-color-neutral-600);
  --plus-color-background-modal: var(--plus-color-neutral-900);

  --plus-color-background-default-default: var(--plus-color-neutral-900);
  --plus-color-background-default-hovered: var(--plus-color-neutral-800);
  --plus-color-background-default-pressed: var(--plus-color-neutral-700);
  --plus-color-background-default-focused: var(--plus-color-neutral-900);
  --plus-color-background-default-loading: var(--plus-color-neutral-700);
  --plus-color-background-default-invert-default: var(--plus-color-neutral-300);
  --plus-color-background-default-invert-hovered: var(--plus-color-neutral-200);
  --plus-color-background-default-invert-pressed: var(--plus-color-neutral-100);
  --plus-color-background-default-invert-focused: var(--plus-color-neutral-300);
  --plus-color-background-default-invert-loading: var(--plus-color-neutral-100);

  --plus-color-background-primary-default: var(--plus-color-primary-300);
  --plus-color-background-primary-hovered: var(--plus-color-primary-200);
  --plus-color-background-primary-pressed: var(--plus-color-primary-100);
  --plus-color-background-primary-focused: var(--plus-color-primary-300);
  --plus-color-background-primary-loading: var(--plus-color-primary-100);
  --plus-color-background-primary-invert-default: var(--plus-color-primary-900);
  --plus-color-background-primary-invert-hovered: var(--plus-color-primary-800);
  --plus-color-background-primary-invert-pressed: var(--plus-color-primary-700);
  --plus-color-background-primary-invert-focused: var(--plus-color-primary-900);
  --plus-color-background-primary-invert-loading: var(--plus-color-primary-700);

  --plus-color-background-info-default: var(--plus-color-info-300);
  --plus-color-background-info-hovered: var(--plus-color-info-200);
  --plus-color-background-info-pressed: var(--plus-color-info-100);
  --plus-color-background-info-focused: var(--plus-color-info-300);
  --plus-color-background-info-loading: var(--plus-color-info-100);
  --plus-color-background-info-invert-default: var(--plus-color-info-900);
  --plus-color-background-info-invert-hovered: var(--plus-color-info-800);
  --plus-color-background-info-invert-pressed: var(--plus-color-info-700);
  --plus-color-background-info-invert-focused: var(--plus-color-info-900);
  --plus-color-background-info-invert-loading: var(--plus-color-info-700);

  --plus-color-background-success-default: var(--plus-color-success-300);
  --plus-color-background-success-hovered: var(--plus-color-success-200);
  --plus-color-background-success-pressed: var(--plus-color-success-100);
  --plus-color-background-success-focused: var(--plus-color-success-300);
  --plus-color-background-success-loading: var(--plus-color-success-100);
  --plus-color-background-success-invert-default: var(--plus-color-success-900);
  --plus-color-background-success-invert-hovered: var(--plus-color-success-800);
  --plus-color-background-success-invert-pressed: var(--plus-color-success-700);
  --plus-color-background-success-invert-focused: var(--plus-color-success-900);
  --plus-color-background-success-invert-loading: var(--plus-color-success-700);

  --plus-color-background-warning-default: var(--plus-color-warning-300);
  --plus-color-background-warning-hovered: var(--plus-color-warning-200);
  --plus-color-background-warning-pressed: var(--plus-color-warning-100);
  --plus-color-background-warning-focused: var(--plus-color-warning-300);
  --plus-color-background-warning-loading: var(--plus-color-warning-100);
  --plus-color-background-warning-invert-default: var(--plus-color-warning-900);
  --plus-color-background-warning-invert-hovered: var(--plus-color-warning-800);
  --plus-color-background-warning-invert-pressed: var(--plus-color-warning-700);
  --plus-color-background-warning-invert-focused: var(--plus-color-warning-900);
  --plus-color-background-warning-invert-loading: var(--plus-color-warning-700);

  --plus-color-background-danger-default: var(--plus-color-danger-300);
  --plus-color-background-danger-hovered: var(--plus-color-danger-200);
  --plus-color-background-danger-pressed: var(--plus-color-danger-100);
  --plus-color-background-danger-focused: var(--plus-color-danger-300);
  --plus-color-background-danger-loading: var(--plus-color-danger-100);
  --plus-color-background-danger-invert-default: var(--plus-color-danger-900);
  --plus-color-background-danger-invert-hovered: var(--plus-color-danger-800);
  --plus-color-background-danger-invert-pressed: var(--plus-color-danger-700);
  --plus-color-background-danger-invert-focused: var(--plus-color-danger-900);
  --plus-color-background-danger-invert-loading: var(--plus-color-danger-700);

  --plus-color-text-base: var(--plus-color-neutral-950);
  --plus-color-text-default: var(--plus-color-base-white);
  --plus-color-text-primary: var(--plus-color-primary-300);
  --plus-color-text-info: var(--plus-color-info-300);
  --plus-color-text-success: var(--plus-color-success-300);
  --plus-color-text-warning: var(--plus-color-warning-300);
  --plus-color-text-danger: var(--plus-color-danger-300);
  --plus-color-text-placeholder: var(--plus-color-neutral-500);
  --plus-color-text-caption: var(--plus-color-neutral-400);
  --plus-color-text-link: var(--color-blue-300);
  --plus-color-text-visited: var(--color-purple-300);
  --plus-color-text-loading: var(--plus-color-neutral-300);
  --plus-color-text-disabled: var(--plus-color-neutral-600);

  --plus-color-text-base-invert: var(--plus-color-base-white);
  --plus-color-text-default-invert: var(--plus-color-neutral-950);
  --plus-color-text-primary-invert: var(--plus-color-primary-900);
  --plus-color-text-info-invert: var(--plus-color-info-900);
  --plus-color-text-success-invert: var(--plus-color-success-900);
  --plus-color-text-warning-invert: var(--plus-color-warning-900);
  --plus-color-text-danger-invert: var(--plus-color-danger-900);
  --plus-color-text-placeholder-invert: var(--plus-color-neutral-500);
  --plus-color-text-caption-invert: var(--plus-color-neutral-900);
  --plus-color-text-link-invert: var(--color-blue-900);
  --plus-color-text-visited-invert: var(--color-purple-900);
  --plus-color-text-loading-invert: var(--plus-color-neutral-900);

  --plus-color-border-base: var(--plus-color-neutral-950);
  --plus-color-border-default: var(--plus-color-neutral-600);
  --plus-color-border-primary: var(--plus-color-primary-300);
  --plus-color-border-info: var(--plus-color-info-300);
  --plus-color-border-success: var(--plus-color-success-300);
  --plus-color-border-warning: var(--plus-color-warning-300);
  --plus-color-border-danger: var(--plus-color-danger-300);
  --plus-color-border-ring: var(--color-blue-700);
  --plus-color-border-disabled: var(--plus-color-neutral-700);
}