@theme {
  --bg-color-primary: var(--color-primary-700);
  --bg-color-primary-hovered: var(--color-primary-800);
  --bg-color-primary-pressed: var(--color-primary-900);
  --bg-color-primary-focused: var(--color-primary-700);
  --bg-color-primary-loading: var(--color-primary-900);  

  --text-color-primary: var(--color-primary-100);

}
